@import "../../RootStyles/common.scss";

.wrapper {
    width: 100%;
    height: 400px;
    border: $border-first;
    border-radius: $box-radius;
    margin-bottom: 20px;


    .photo {
        width: 100%;
        height: 50%;
        border-radius: $box-radius;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    p {
        margin-left: 10px;
        margin-bottom: 20px;
        font-size: $xs-fz/1.2;
    }

    h3 {
        text-align: center;
        font-size: $s-fz;
        margin-bottom: 10px;
        padding: 5px;
    }


    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;

        button {
            @include standardButtonNoTransform
        }
    }

    @media screen and (min-width:map-get($breakpoints, large)) {
        width: 45%;
        flex-basis: 45%;
        margin-bottom: 40px;
        height: 500px;

        p {

            font-size: $xs-fz;
        }

        h3 {

            font-size: $m-fz;

        }
    }

}