@import "../../RootStyles/common.scss";

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 120;
  backdrop-filter: blur(2px);

  .wrapper {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    z-index: 120;
    border: none;
    border: 2px solid black;
    background-color: white;
    color: black;
    border-radius: 5px;



    svg {
      position: absolute;
      top: 2.5%;
      right: 2.5%;
      fill: $firstColor;
      background-color: $secondColor;
      border-radius: $box-radius;
      transition: $transition;
      cursor: pointer;

      &:hover {
        fill: $secondColor;
        background-color: $firstColor;
      }

    }

    img {
      width: 85vw;
      height: 60vh;

      @media screen and (orientation: landscape) {

        width: 65vw;
        height: 85vh;
      }

      @media screen and (min-width:map-get($breakpoints, x-large)) {
        width: 55vw;
      }
    }

  }
}