@import "../../RootStyles/common.scss";

.wrapper {
    @include wrapper;

    .banner {
        img {
            width: 100%;
            height: 35vh;
        }
    }

    .inside {
        @include inside;

        h2 {
            font-size: $l-fz;
            margin-bottom: 20px;
        }

        p {
            font-size: $xs-fz;
            margin-bottom: 10px;

            span {
                font-weight: 700;

            }
        }

        .pictureItemFloat {
            float: right;

            img {
                width: 120px;
                height: 100px;
            }
        }

        .picturesItemsMany {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            img {
                flex-basis: 100%;
                max-width: 100%;
                height: 200px;
                margin-bottom: 10px;
            }



            img:nth-last-child(1) {
                flex-basis: 100%;
                max-width: 100%;
                height: 240px;
                margin-bottom: 20px;
            }
        }
    }

    @media screen and (orientation: landscape) {
        .banner {
            img {

                height: 65vh;
            }
        }

        .inside {
            .pictureItemFloat {
                img {
                    width: 160px;
                    height: 140px;
                }
            }

            .picturesItemsMany {
                img {
                    flex-basis: 48%;
                    width: 48%;

                }


                img:nth-last-child(1) {
                    flex-basis: 100%;
                    max-width: 100%;
                    height: 320px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    @media screen and (min-width:map-get($breakpoints, small)) {
        .banner {
            img {

                height: 65vh;
            }
        }

        .inside {

            .picturesItemsMany {

                img {
                    flex-basis: 48%;
                    width: 48%;

                }


                img:nth-last-child(1) {

                    max-width: 100%;
                    height: 320px;

                }
            }
        }
    }

    @media screen and (min-width:map-get($breakpoints, medium)) {
        .banner {
            img {

                height: 50vh;
            }
        }

        .inside {
            h2 {
                font-size: $xl-fz;

            }

            p {
                font-size: $s-fz;
            }


            .pictureItemFloat {
                img {
                    width: 240px;
                    height: 200px;
                }
            }
        }
    }

    @media screen and (min-width:map-get($breakpoints, large)) {
        .inside {
            h2 {
                font-size: $xl-fz*1.2;

            }

            p {
                font-size: $m-fz;
            }



            .picturesItemsMany {


                img {
                    flex-basis: 32%;
                    width: 32%;
                    height: 220px;

                }

                img:nth-child(7),
                img:nth-child(8),
                img:nth-child(9) {
                    height: 280px;
                }

                img:nth-last-child(1) {

                    height: 400px;

                }
            }
        }

    }

    @media screen and (min-width:map-get($breakpoints, x-large)) {

        .banner {
            img {
                height: 60vh;
            }
        }

        .inside {

            h2 {
                font-size: $xl-fz*1.4;

            }

            p {
                font-size: $l-fz;

            }

            .pictureItemFloat {


                img {
                    width: 300px;
                    height: 260px;
                }
            }


            .picturesItemsMany {
                justify-content: space-around;

                img {

                    height: 240px;

                }

                img:nth-child(7),
                img:nth-child(8),
                img:nth-child(9) {
                    height: 320px;
                }

                img:nth-last-child(1) {

                    height: 400px;
                    width: 600px;
                    flex-basis: 60%;

                }
            }
        }
    }
}