@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

$roboto: 'Roboto mono';

$transition: 0.4s;
$box-radius: 10px;
$button-radius: 30px;

$border-first: 1px solid rgb(19, 19, 236);
;
$border-second: 1px solid rgb(255, 255, 255);

$firstColor: rgb(19, 19, 236);
$secondColor: rgb(255, 255, 255);
$thirdColor: rgb(180, 180, 180);

$xs-fz: 14px;
$s-fz: 16px;
$m-fz: 18px;
$l-fz: 20px;
$xl-fz: 22px;
$xxl-fz: 32px;

$breakpoints: (x-small: 480px,
    small: 640px,
    medium: 800px,
    large: 1020px,
    x-large: 1280px,
);